# Model Training

In [1]:
!pip install -r "/Users/aastik/Documents/ML/ML-Projects/requirements.txt"

Requirement already satisfied: pandas in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from -r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 1)) (2.0.3)
Requirement already satisfied: numpy in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from -r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 2)) (1.24.4)
Requirement already satisfied: seaborn in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from -r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 3)) (0.13.2)
Requirement already satisfied: matplotlib in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from -r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (3.7.5)
Requirement already satisfied: scikit-learn in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from -r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 5)) (1.3.2)
Requirement already satisfied: catboost in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from -r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 6)) (1.2.8)
Requirement already satisfied: xgboost in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from -r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 7)) (2.1.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from pandas->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 1)) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from pandas->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from pandas->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 1)) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (4.57.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (25.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (6.4.5)
Requirement already satisfied: scipy>=1.5.0 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from scikit-learn->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 5)) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from scikit-learn->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 5)) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from scikit-learn->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 5)) (3.5.0)
Requirement already satisfied: graphviz in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from catboost->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 6)) (0.20.3)
Requirement already satisfied: plotly in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from catboost->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 6)) (6.3.0)
Requirement already satisfied: six in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from catboost->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 6)) (1.16.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 4)) (3.21.0)
Requirement already satisfied: narwhals>=1.15.1 in /Users/aastik/Documents/ML/ML-Projects/venv/lib/python3.8/site-packages (from plotly->catboost->-r /Users/aastik/Documents/ML/ML-Projects/requirements.txt (line 6)) (1.42.1)

In [2]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
## modelling
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
import warnings

In [3]:
df = pd.read_csv('data/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
X = df.drop(columns=['math score'],axis=1)

In [7]:
y = df['math score']

In [8]:
X.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [9]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [10]:
## create column transformer with 3 types of transformer

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

numeric_transformer = StandardScaler()
cat_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
  [
    ("StandardScaler", numeric_transformer, num_features),
    ("OneHotEncoder", cat_transformer, cat_features),
  ]
)

In [11]:
X = preprocessor.fit_transform(X)

In [15]:
X.shape

(1000, 19)

In [16]:
# seperate the data into training and testing

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [17]:
X_train

array([[ 0.05694554,  0.45733301,  1.        , ...,  1.        ,
         0.        ,  1.        ],
       [ 0.94779033,  0.98406266,  1.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 1.35894946,  1.18158627,  1.        , ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [-0.49126664, -0.99117351,  1.        , ...,  1.        ,
         0.        ,  1.        ],
       [-1.45063795, -0.99117351,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 1.4960025 ,  1.37910989,  1.        , ...,  1.        ,
         0.        ,  1.        ]])

In [18]:
X_test

array([[ 1.15336989,  1.04990386,  1.        , ...,  1.        ,
         0.        ,  1.        ],
       [-0.21716055,  0.3256506 ,  1.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.26252511,  0.2598094 ,  0.        , ...,  1.        ,
         0.        ,  1.        ],
       ...,
       [ 0.81073728,  0.52317422,  1.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.53663119,  0.39149181,  1.        , ...,  1.        ,
         0.        ,  1.        ],
       [ 0.33105163,  0.2598094 ,  1.        , ...,  1.        ,
         1.        ,  0.        ]])

In [19]:
X_train.shape

(800, 19)

In [20]:
X_test.shape

(200, 19)

In [21]:
y_train.shape

(800,)

In [22]:
y_test.shape

(200,)

# Rightnow here we have done all the steps in the jupyter notebook.
# But will do the proper way, that every step will be executed in a proper way with it's particular file.